form action="/products/#{result['AlbumId']}/update" method="post"
    input type="text" name="title" value="#{result['Title']}"
    input type="hidden" name="ArtistId" value="#{result['ArtistId']}"
    input type="submit" value="Edit it!"